.mapping-options {
    margin-top: 1.25rem;
    display: flex;
    gap: 0.5rem;
    border: 0.06rem solid;
    border-radius: 0.3rem;
    padding: 0.3rem;
}

.mapping-option {
    cursor: pointer;

    svg {
        display: block;
    }
}